*,
*,::after,
*,::before{
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;
	color: #1F1E1E;
	}

a{
	text-decoration: none;
	color: inherit;
	
}
.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 10px;
}
.title{
	text-align: center;
	font-weight: 500;
	font-size: 36px;
	line-height: 130%;
}

.header {
	background-image: url(../images/header-bg.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	
	
	}

.header__inner{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	

}
.header__top {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	padding: 16px 0px 49px;

}
.logo {
}
.logo__img {
}
.header__phone {
	font-size: 16px;
	line-height: 130%;
	color: #fff;
	font-weight: 700;
}
.header__phone-number {
	font-weight: 400;
	margin-left: 19px;
	padding: 12px 31px 13px;
	background-color: #886239;
	border-radius: 22px;
}
.menu {
	width: 100%;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	margin-top: 15px;
	padding: 27px 0 24px;

}
.menu__list {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: 16px;
	color: #fff;
}
.menu__item {
}
.menu__link {
}
.header__title {
	font-family: 'PT Serif', serif;
	font-weight: 700;
	font-size: 90px;
	line-height: 130%;
	text-align: center;
	margin-bottom: auto;
}
.header__content {
}
.header__descr {
	font-size: 20px;
	font-weight: 700;
	max-width: 420px;
	margin-bottom: 20px;
}
.header__btn {
	display: inline-block;
	font-size: 18px;
	color: #fff;
	padding: 19px 55px 19px;
	background: #886239;
	border-radius: 30px;
	margin-bottom: 20px;
}
.header__arrow {
	text-align: center;
	margin-bottom: 15px;
}
.header__arrow-link {
}
.header__arrow-img {
}
.direction {
	padding: 100px 0;

}
.direction__inner {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 32px;
}
.direction__text {
	font-size: 16px;
	border: 1px solid #D9d9de;
	border-top: none;
	padding: 12px 19px 19px;

}
.conteiner {
}

.direction--item {
}
.direction__img {
	
}
.travel-info{
	background-image: url(../images/travel--info/travel-info-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
.travel-info__title {
	color: #fff;
	margin-bottom: 50px;
	
}
.travel-info__items{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 54px 67px;
}
.travel-info__img{
	margin-bottom: 15px;
}
.travel-info__text{
	color: #fff;
	font-size: 16px;
	line-height: 130%;
}
.popular{
	padding: 100px 0;
	
}
.popular__title{
	margin-bottom: 40px;
}

.popular__items{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-gap: 32px;
	padding-bottom: 80px;
	border-bottom: 1px solid rgb(131, 128, 128);
	
}
.popular__link{
	padding: 16px 24px 19px;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 256px;
	line-height: 130%;
}
.popular__link:nth-child(3),
.popular__link:nth-child(6){
	grid-column: span 2;
	grid-row: span 2;
}
.popular__link-title{
	font-weight: 500;
	margin-bottom: 15px;
}
.popular__link-title--big{
	font-size: 24px;
}

.popular__price{
	font-weight: 700;
	font-size: 16px;
	margin-top: auto;
	
}
.popular__country,
.popular__time{
	margin-bottom: 15px;

}
.map{
	padding-bottom: 100px;
}
.map__title{
margin-bottom: 46px;
}
.about{
	padding-bottom: 100px;
}
.about__iner {
	display: grid;
	grid-template-columns: 448px 640px;
	grid-gap: 32px;
}
.about__content {
}
.about__title {
	text-align: left;
	margin-bottom: 25px;
}

.about__text {
	margin-bottom: 34px;
}
.about__link {
	font-size: 16px;
	line-height: 19px;
	text-decoration-line: underline;
	color: #C4C4C4;
}
.about__popup {
	background-image: url(../images/video-bg.jpg);
	background-repeat:no-repeat;
	background-position: top center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.galerry{
	padding: 50px 0 105px;
	background: #886239;
	color: #fff;
}
.galerry___top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
	padding-right: 160px;
	
}
.galerry__link {
	font-size: 16px;
	line-height: 19px;
	text-decoration-line: underline;
}
.galerry__item-inner {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 32px;
}
.slick-btn{
	background-color: transparent;
	border: none;
	cursor: pointer;
	position: absolute;
	top: -85px;
	right: 0;
}
.slick-prew{
	right: 60px;
}
.tour{
	padding: 100px 0;
}
.tour-title{
	margin-bottom: 77px;
}
.tour__box{
	column-count: 2;
	column-gap: 46px;
border-bottom: 1px solid #D9D9DE;
padding-bottom: 50px;
margin-bottom: 44px;
}
.tour__text{
	margin-bottom: 17px;
}
.tour__text span{
	font-weight: 700;
}
.tour__info {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 70px;
}
.tour__info-item {
	font-family: 'PT Serif', serif;
	font-weight: 700;
	font-size: 58px;
	line-height: 60px;
	color: #886239;
	text-align: center;

}
.tour__info-text {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #1F1E1E;
	font-weight: 500;
	line-height: 25px;
}
.booking{
	background: #EAEAEA;
	padding: 75px 0;
}
.booking__title{
	margin-bottom: 43px;
}
.booking___form{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	max-width: 830px;
	margin: 0 auto;
}
.booking__input{
	width: 256px;
height: 44px;
border: 1px solid #D9D9DE;
padding: 11px 14px 12px;
margin-bottom: 28px;
font-size: 16px;
}
.booking__input::placeholder{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #C4C4C4;
	line-height: 130%;
}
.booking__area{
	width: 100%;
	padding: 14px;
	height: 112px;
	border: 1px solid #D9D9DE;
	resize: none;
	margin-bottom: 67px;
}
.booking__btn{
	background: #886239;
	border-radius: 30px;
	border: none;
	font-size: 18px;
	line-height: 21px;
	color: #fff;
	padding: 19px 65px 20px;
	cursor: pointer;
}
.booking__label{
	font-size: 16px;
	line-height: 130%;
	text-decoration: underline;
	display: flex;
	align-items: center;
}
.booking__checkbox{
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	padding-left: -45px;
}
.booking__shecbox-style{
	width: 26px;
	height: 26px;
	border: 2px solid #C4C4C4;
	box-sizing: border-box;
	border-radius: 2px;
	position: absolute;
	margin-left: -45px;
}
.booking__checkbox:checked + .booking__shecbox-style::before{
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	background-color: #C4C4C4;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.footer{
	background: #1F1E1E;
	padding: 80px 0;
}
.footer__logo{
	text-align: center;
	margin-bottom: 70px;
}
.footer__box{
	display: flex;
	justify-content: space-between;
	color: rgba(255, 255, 255, .8);
	font-size: 14px;
	line-height: 130%;
	max-width: 830px;
	margin: 0 auto;nfo 
	width: 225px;
}
.footer__info{
	width: 225px;
}
.footer__box-title {
	margin-bottom: 7px;
	font-weight: 500;
	color: #fff;	
}
.footer__copy {
	margin-bottom: 3px;
}
.footer__link {
	text-decoration: underline;
}
.footer-address {
	width: 165px;
}
.footer-contacts {
	width: 210px;	
}
.footer__mail {	
	display: block;
}
.menu__btn{
	display: none;
}

@media (max-width:800px){
	.header__phone span{
		display: none;
	}
}
@media (max-width:560px){
	.header__title{
	font-size: 50px;
	}
	.menu__btn{
		display: inline-block;
		width: 40px;
		height: 40px;
		border: none;
		padding: 0;
	}
	.menu__list{
		transform: translateY(-1000%);
	}
	.logo{
		width: 100%;
		margin-bottom: 30px;
		text-align: center;
	}
	.header__top{
		justify-content: center;
	}
	.menu{
		border: none;
	}
}
